:root {
    --color-background: grey;
}

* {
    background-color: var(--color-background);
}

.navbar {
    display: flex;
    background-color: var(--color-background);

    .nav-links {
        justify-content: space-between;
    }
}