@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
    --color-background: rgb(66, 66, 66);
    --color-cajas:conic-gradient(
            #ff0000, #ff7700, #fffb00, #48ff00,
            #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000
    );
    --color-navbar: rgb(90, 88, 88);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background-color: var(--color-background);
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
    align-items: center;
    padding: 10px 50px;
    background: var(--color-navbar);
    border-radius: 50px;
    margin-bottom: 40px;

    .nav-links a {
        color: #888;
        text-decoration: none;
        margin-left: 20px;
        transition: 0.3s;
        font-weight: bold;
    }

    .nav-links a:hover {
        color: #fff;
    }
}

div {
    background-color: var(--color-background);
    border: 1px solid black;
    margin: 10px;
}

#cajas_principales {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

    section {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .card_rgb img {
        width: auto;
    }
}
nav img {
    width: 30px;
    height: 30px;
}
img {
    width: 100%;
    height: 100%;
}

#cajas_secundarias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}