:root {
    --color-background: grey;
}
body{
    margin: 5%;
}

header {
    display: flex;
    background-color: var(--color-background);
}

nav {
    justify-content: space-between;
}

* {
    background-color: var(--color-background);
}

.navbar {
    display: flex;
    background-color: var(--color-background);

    .nav-links {
        justify-content: space-between;
    }
}

div{
    background-color: var(--color-background);
    border: 1px solid black;
    margin: 10px;
}
#cajas_principales{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: auto;
}
img{
    width: 100%;
    height: 100%;
}
#cajas_secundarias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}