:root {
    --color-background: grey;
}

header {
    display: flex;
    background-color: var(--color-background);
}

nav {
    justify-content: space-between;
}

* {
    background-color: var(--color-background);
}

.navbar {
    display: flex;
    background-color: var(--color-background);

    .nav-links {
        justify-content: space-between;
    }
}

div{
    background-color: var(--color-background);
    border: 1px solid black;
    margin: 10px;
}